name: Unity Tests

on:
  workflow_call:

jobs:
  unity-tests:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: No-op
        run: echo "Temporarily disabling Unity CI (fast pass)."
